
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.posts {
  li {
    list-style: none;
  }
  p {
    font-size: 20px;
  }
}

.formy {
  input[type="submit"]{
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: white;
    &:hover {
      background-color: lighten(tomato, 5%)
    }
  }
}
