<div class="formy">
  <h2>Post to Tiny Lasagna:</h2>
  <form id="post-submit" class="post-submit" action="http://tiny-lasagna-server.herokuapp.com/collections/posts" method="post">
    <div class="form-group">
      <input type="text" name="title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
      <textarea name="body" id="" cols="30" rows="10" class="form-control" placeholder="Body..."></textarea>
    </div>
    <div class="form-group">
      <input type="submit">
    </div>
  </form>
</div>
